@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #000;
}
/*==================== HEADER ====================*/
header{
    background-image: url('/assets/images/Illustrations/Bathome1.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
/* menu de navigation */
.navbar{
    border: solid 5px #bcbbbd;
    border-top: 0;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 1%;
    padding-bottom: 4%;
}
.nav-logo {
    display: flex; /* Allow logo and potentially tagline to align horizontally */
    align-items: center; /* Vertically center logo within the nav-logo */
    justify-content: space-between;
  }
  .logo {
    margin-right: 1rem; /* Add some margin between logo and links */
  }
  .nav-links {
    display: flex; /* Arrange links horizontally */
    list-style: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Space Grotesk';
  }
  .nav-links li {
    margin-right: 1rem; /* Add spacing between links */
  }
  .nav-links a {
    text-decoration: none; /* Remove underlines from links */
    color: #ffffff; /* Dark gray text color */
    font-weight: 500; /* Slightly bolder font for links */
    padding: 0.5rem 1rem; /* Add some padding for clickability */
  }
  .nav-links a:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold ;
  }
  /* intro */
  .para-intro{
    text-align: center;
    color: #ffffff;
    font-family: 'Space Grotesk';
    font-size: 18px;
    padding-top: 16rem;
  }
  .para-intro-bold{
    font-weight: bold;
  }
  .intro{
    position: relative;
    border: solid 5px #bcbbbd;
    border-top: 0;
    border-bottom: 0;
    margin-left: 4%;
    margin-right: 4%;
  }
  .img1{
    position: absolute;
    top: 35%;
    left: 92%;
  }
  .img2{
    position: absolute;
    top: 45%;
    left:95%;
  }
  .img3{
    position: absolute;
    top: 55%;
    left:95%;
  }
  .img4{
    position: absolute;
    top: 65%;
    left:95%;
  }
  .img5{
    position: absolute;
    top: 70%;
    left: 92%;
  }
  /* .intro-logo{
    
  } */
  .btn-intro{
    background: linear-gradient(to right, #eddebf 40%, #890008 60% );
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Rajdhani;
    opacity: 0.4;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;
  }
  .btn-intro:hover {
    background: linear-gradient(to right, #eddebf 40%, #890008 60%);
    opacity: 1;
  }
  /*====================  MAIN ====================*/
  .container{
    border: solid 5px #bcbbbd;
    border-top: 0;
    border-bottom: 0;
    margin-left: 4%;
    margin-right: 4%;
  }
  .fleche-down-header{
    position: absolute;
    left: 50%;
  }
  /* batman au cinéma */
  .voir-le-hero, .les-adversaires, .allies{
    padding-top: 8rem;
    padding-left: 8rem;
    padding-right: 16rem;
  }
  h1{
    color: #ffffff;
    font-family: Rajdhani;
    font-size: 36px;
    padding-bottom: 1rem;
  }
  .para{
    color: #ffffff;
    font-family: 'Space Grotesk';
    font-size: 18px;
    text-align: justify;
    padding-bottom: 4em;
  }
  .para-img{
    position: relative;
  }
  .bathome2, .bathome5, .bathome9{
    padding-left: 8rem;
  }
  .bathome3, .bathome6, .bathome8{
    position: absolute;
    top: 0%;
    left: 32rem;
  }
  .bathome4, .bathome7, .bathome10{
    position: absolute;
    top: 0%;
    left: 56rem;
  }
  /* némésis */
  .bathome13{
    width: 155px;
    position: absolute;
    left: 14rem;
    top: 109.5rem;
  }
  /* alliés */
  .bathome12{
    position: absolute;
    right: 0rem;
    top: 155.5rem;
    width: 370px;
  }
  .allies{
    padding-top: 12rem;
  }
  .para-st{
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  .st1{
    padding-left: 90px;
  }
  .st2{
    padding-left: 45px;
  }
  